FOLDER_CONVERSATION = "modules/data"
FOLDER_RESULTS = "modules/results"

SETTINGS = {
    'QUESTIONNAIRE': {
        'QUESTIONNAIRE': [
            "First question",
            "Second Question"
        ],
        'END_ANS_FLOW': ["Gracias"]
    }
}
