<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>❤ Naty ❤</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</head>
<body>
    <h1>❤ Chatbot Naty ❤</h1> 

        <button type="button" id="restart" class="btn btn-primary">Restart and Generate Results</button>
        <h3>Running...</h3>

    <hr>


    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div id="log_info">
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <h6 class="border-bottom pb-2 mb-0">Conversations</h6>
                    <div id="conversations">
                    </div>
                  </div>

            </div>
          </div>

            <div class="col">
                <div id="log_web">
                    <div class="my-3 p-3 bg-body rounded shadow-sm">
                        <h6 class="border-bottom pb-2 mb-0">Logging</h6>
                        <div id="logging"></div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div id="log_results">
                    <div class="my-3 p-3 bg-body rounded shadow-sm">
                        <h6 class="border-bottom pb-2 mb-0">Results</h6>
                        <div id="list_results"></div>
                    </div>

                </div>
            </div>
        </div>
      </div>

    <script>
        runLogs();

        $('#restart').click(function(){
            $.get( "/restart", function( data ) {
                console.log(data);
            });
        });

        function runLogs() {

            $.get( "/logs", function( data_list ) {

                var htmlINNER = "";
                for (const [key, value] of Object.entries(data_list["log_info"])) {

                    qs = value['questions']
                    lastQ = ""
                    if (qs.length > 0) lastQ = qs[qs.length - 1];

                    as = value['answers']
                    lastA = value['text']
                    if (as.length > 0) {
                        lastA = as[as.length - 1];
                        if (lastA.includes('media/'))  lastA = "<a href='"+lastA+"'>" + lastA + "</a>";
                    }

                    htmlINNER += "<div class='d-flex text-muted pt-3'>" +
                          "<p class='pb-3 mb-0 small lh-sm border-bottom'>" +
                            "<strong class='d-block text-gray-dark'>" + value['name'] + "</strong>" +
                            "<strong class='d-block text-gray-dark'>Last Question: " + lastQ + "</strong>" +
                            "Last Answer: " + lastA +
                          "</p>" +
                        "</div>"
                  console.log(key, value);
                }

                $("#conversations").html(htmlINNER)

                var htmlLOG = ""
                data_list["log_web"].forEach(function m(item, index) {
                    htmlLOG += item + "<hr>"
                });
                $("#logging").html(htmlLOG)

                var htmlRESULTS = ""
                data_list["results"].forEach(function m(item, index) {
                    htmlRESULTS += "<a href='"+item+"'>" + item + "</a><hr>"
                });
                $("#list_results").html(htmlRESULTS)


            });

            setTimeout("runLogs()",1500);
        }

    </script>
</body>
</html>
